<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <p-tabView>
                    <p-tabPanel header="Home">
                        <div class="page-header">
                            <h2>
                                Hello <strong>{{fullName}}!</strong>
                            </h2>
                            <div class="logout">
                                <a href="/logout" class="btn btn-warning btn-lg">Logout</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="jumbotron well">
                                    <p id="welcome" [hidden]="welcomeHidden ? true : false">
                                        Welcome back, <span>{{firstName}}</span>!<br>
                                        Are you ready for a new challenge?<br>
                                        Pick a level and then click Start Challenge
                                    </p>
                                    <div class="panel panel-success" [hidden]="welcomeHidden ? false : true">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                <span>Level: {{ panelLevel }}</span> <span class="panelTitle">Question: {{questionNumber}}</span>
                                            </h3>
                                        </div>
                                        <div class="panel-body">
                                            <p>{{challenge}}</p>
                                        </div>
                                    </div>
                                    <p>Level: <span>{{ level }}</span></p>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Level
                                            <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a (click)="setLevel('easy')">Easy</a></li>
                                            <li><a (click)="setLevel('hard')">Hard</a></li>
                                        </ul>
                                    </div><br><br>
                                    <div class="row">
                                        <div class="col-sm-12" id="start">
                                            <button (click)="start()" class="btn btn-success btn-lg">Start Challenge</button>
                                        </div>
                                        <p-growl [value]="msgs"></p-growl>
                                    </div>

                                    <br><br>
                                    <div id="answer" [hidden]="welcomeHidden ? false : true">
                                        <input #answerField type="text" [(ngModel)]="answer" (keyup)="onKeyUp()" autocomplete="off" maxlength="35" placeholder=" Answer the question to enable the button">
                                        <button id="hintbtn" (click)="hint()" class="btn btn-info btn-lg"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> hint</button>
                                        <br><br>
                                        <button (click)="submit(answerField.value)" [disabled]="!isFilled" class="btn btn-default">Submit Answer</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <mrpanel [questionAnswer]="questionAnswer"></mrpanel>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Profile">
                        <div class="page-header">
                            <h2>
                                Hello <strong>{{fullName}}!</strong>
                            </h2>
                            <div class="logout">
                                <a href="/logout" class="btn btn-warning btn-lg">Logout</a>
                            </div>
                        </div>
                        <myprofile [email]="email" [firstName]="firstName" [fullName]="fullName" [questionAnswer]="questionAnswer"></myprofile>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
</body>
</html>