body {
  padding:32px;
  font-family:Roboto,Arial,sans-serif;
  font-size:16px;
}

.headImg {
  height:500px;
  text-align:center;
  background:url('../images/flower.jpg') center no-repeat fixed;
  /*background-color: #cccccc;*/
}
.headImg h1 {
  padding: 60px;
  font-family: 'Pacifico', cursive;
  color: #9932CC;
}

.highlight {
  font-family: Courier;
  font-weight: bold;
}

.jumbotron {
  min-height: 500px;
  text-align: center;
}

.panelTitle {
  margin-left: 75px;
}

#welcome {
  text-align: center;
  font-size: 35px;
}

.dropdown {
  text-align: center;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

#answer {
  text-align: center;
}

#answer input {
  padding: 5px;
  height: 50px;
  width: 310px;
  border-radius: 5%;
}

#start {
  text-align: center;
}

#pstart{
    text-align: left;
}

.logout {
  text-align: right;
}

#hintbtn{
  border-radius: 35%;
}

#scrollbody {
    max-height: 300px;
    overflow: auto;
}

#tableh th {
    text-align: center;
}

#history {
  height: 440px;
  overflow: auto;
}

.paneltools {
  float: right;
  text-align: right;
}

.editsubmitbtn{
  text-align: center;
}

